/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("../fonts/CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("../fonts/CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("../fonts/CircularXXWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("../fonts/CircularXXWeb-Medium.woff2") format("woff2");
}

/* subset */

@font-face {
  font-family: "CircularXXSub-BookSubset";
  src: url("../fonts/CircularXXSub-BookSubset.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-BookSubset";
  src: url("../fonts/CircularXXSub-BookSubset.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-MediumSubset";
  src: url("../fonts/CircularXXSub-MediumSubset.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-MediumSubset";
  src: url("../fonts/CircularXXSub-MediumSubset.woff") format("woff");
}

body {
  overflow: scroll;
}
main,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.panoramic,
.image-full-width {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "CircularXXWeb-Book", sans-serif;
  font-weight: normal;
  line-height: 120%;
}
header {
  background-color: transparent;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1100;
}
.transparent-bg {
  background-color: transparent;
}
.turquoise-bg {
  background-color: #00b0a9;
}
#header-container {
  margin: 0 auto;
  max-width: 1406px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
}
#header-left {
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
}
#header-text {
  display: block;
  height: 70px;
  background-image: url("../img/80strand-london.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 180px;
  cursor: pointer;
}
@media only screen and (min-width: 550px) {
  #header-text {
    background-size: 320px;
  }
}
@media only screen and (min-width: 768px) {
  #header-text {
    background-size: 350px;
  }
}
#header-logo {
  display: none;
}
#header-logo a {
  cursor: pointer;
}
#header-right {
  flex: 0 0 50px;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  z-index: 110;
}
#menu-trigger {
  cursor: pointer;
  position: relative;
  background-image: url("../img/menu-icon.svg");
  background-repeat: no-repeat;
  background-position: right top;
  width: 50px;
  height: 53px;
  z-index: 120;
  display: block;
}
.close {
  background-image: url("../img/menu-icon-close.svg") !important;
}

#main-navigation {
  position: fixed;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #00b0a9;
  text-align: center;
  display: none;
  z-index: 110;
  padding-top: 150px;
}
#main-navigation ul {
  list-style-type: none;
  font-size: 2em;
}
#main-navigation ul li a {
  display: block;
  text-decoration: none;
  font-family: CircularXXWeb-Medium, sans-serif;
  color: #80d8d4;
  padding: 8px 0;
  outline: 0;
}
#main-navigation ul li a:hover,
#main-navigation ul li a.active {
  color: #ffed00;
}

.experience-animation {
  height: 100px;
}

.accom__top__arrow {
  color: #00b0a9;
  font-size: 11px;
  width: 100%;
  text-align: right;
}

#panHome,
#pan01,
#pan02 {
  position: relative;
}
.panoramic {
  width: 100%;
  height: 100vh;
  display: block;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.panoramic-pointer {
  background-image: url("../img/tablet-view-hand.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 70px;
}
@media only screen and (min-width: 768px) {
  .panoramic-pointer {
    background-image: url("../img/80strandwebmouse.svg");
  }
}
.pan-left-button,
.pan-right-button {
  cursor: pointer;
}
.panoramic-container {
  width: 100%;
  position: relative;
  height: 100vh;
}
.panoramic-restrainer {
  margin: 0 auto;
  max-width: 1366px;
}
.panoramic-control {
  width: 88px;
  height: 70px;
}
.pointer-control {
  position: relative;
  top: 0;
  left: 0;
}
.panoramic-day .img-container {
  background-image: url("../img/panoramic-10th-floor-view.jpg");
}
.panoramic-night .img-container {
  background-image: url("../img/panoramic-night.jpg");
}

.new-panoramic-wrapper {
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden;
}
.new-panoramic {
  width: 100%;
  display: block;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.new-panoramic-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.new-panoramic-title {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 25px;
}
.new-panoramic-title h1 {
  color: white;
  font-size: 2em;
  font-family: CircularXXWeb-Medium, sans-serif;
}
@media only screen and (min-width: 768px) {
  .new-panoramic-title h1 {
    font-size: 3.5em;
  }
}
.new-panoramic-controls {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#imgs img {
  display: block;
  margin: 0 auto;
  width: 150%;
  height: auto;
}
.img-container {
  background-size: auto 100%;
  background-position: center;
  width: 150%;
  padding-bottom: 125%;
}
.panoramic-home .img-container {
  background-image: url("../img/panoramic-night.jpg");
}

.small__text {color:red;}

.level-details.hide {display:none;}

@media only screen and (min-width: 768px) {
  .img-container {
    padding-bottom: 75%;
  }
}
@media only screen and (min-width: 1024px) {
  .img-container {
    padding-bottom: 55%;
  }
}
.night-day-restrainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1406px;
  height: 50px;
}
.night-day {
  position: absolute;
  right: 20px;
  bottom: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 150px;
  height: 50px;
}
.day,
.night {
  width: 50px;
  height: 50px;
  margin: 0 0 0 10px;
  cursor: pointer;
  z-index: 5;
}
.day-night-button {
  width: 39px;
  height: 39px;
}
@media only screen and (min-width: 768px) {
  .night-day {
    bottom: 20px;
  }
  .day,
  .night {
    width: 70px;
    height: 70px;
    margin: 0 0 0 20px;
  }
  .day-night-button {
    width: 58px;
    height: 58px;
  }
}

#Day_View:hover #Ellipse_7,
#Day_View.active #Ellipse_7 {
  fill: #00b0a9;
}
#Day_View:hover #Ellipse_4,
#Day_View.active #Ellipse_4,
#Day_View:hover #Line_24801,
#Day_View.active #Line_24801,
#Day_View:hover #Line_24802,
#Day_View.active #Line_24802,
#Day_View:hover #Line_24803,
#Day_View.active #Line_24803,
#Day_View:hover #Line_24804,
#Day_View.active #Line_24804,
#Day_View:hover #Line_24805,
#Day_View.active #Line_24805,
#Day_View:hover #Line_24806,
#Day_View.active #Line_24806,
#Day_View:hover #Line_24807,
#Day_View.active #Line_24807,
#Day_View:hover #Line_24808,
#Day_View.active #Line_24808,
#Day_View:hover #Line_24809,
#Day_View.active #Line_24809,
#Day_View:hover #Line_24810,
#Day_View.active #Line_24810,
#Day_View:hover #Line_24811,
#Day_View.active #Line_24811,
#Day_View:hover #Line_24812,
#Day_View.active #Line_24812,
#Day_View:hover #Line_24813,
#Day_View.active #Line_24813 {
  stroke: #ffed00;
}

#Night_view:hover #Ellipse_7,
#Night_view.active #Ellipse_7 {
  fill: #00b0a9;
}
#Night_view:hover #Path_10631,
#Night_view.active #Path_10631,
#Night_view:hover #Path_10632,
#Night_view.active #Path_10632,
#Night_view:hover #Path_10630,
#Night_view.active #Path_10630 {
  fill: #ffed00;
}

.turquoise-full-width {
  background-color: #00b0a9;
}
.yellow-full-width {
  background-color: #ffed00;
  text-align: center;
}

.content-container {
  margin: 0 auto;
  max-width: 1406px;
  padding: 40px 20px;
  box-sizing: border-box;
}

.virgin-wrapper .content-container  {
  padding: 0px 20px;
}
}


.general-heading {
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
}
.general-heading h1 {
  font-size: 1.5em;
  font-family: CircularXXWeb-Medium, sans-serif;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .general-heading {
    padding-bottom: 30px;
  }
  .general-heading h1 {
    font-size: 2em;
    width: 60%;
      text-align: center;
  }
}

.content-50-50 {
  display: flex;
  flex-wrap: wrap;
}
.content-left {
  flex: 0 0 100%;
}
.content-left-logo {
  width: 100%;
  padding-bottom: 100%;
  background-image: url("../img/80strand-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 30px 0;
}
.content-right {
  flex: 0 0 100%;
  color: #ffed00;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
}
.content-right h3 {
  font-size: 1.25em;
}
.home-down-arrow-1-container {
  position: relative;
  height: 0;
}
.home-down-arrow-1-container img {
  position: absolute;
  top: -240px;
  left: 30%;
}
.home-down-arrow-2-container {
  display: block;
  position: relative;
  height: 40px;
}
.home-down-arrow-2-container img {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 40%;
}
@media only screen and (min-width: 768px) {
  .home-down-arrow-1-container {
    height: 20px;
  }
  .home-down-arrow-1-container img {
    width: 70px;
    top: -160px;
    left: 30%;
  }
  .home-down-arrow-2-container img {
    width: 180px;
    top: 40px;
    left: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .home-down-arrow-1-container {
    height: 40px;
  }
  .home-down-arrow-1-container img {
    width: 114px;
    top: -240px;
    left: 30%;
  }
  .home-down-arrow-2-container img {
    width: 316px;
    top: 40px;
    left: 0;
  }
}

.team-50-50 {
  display: flex;
  flex-wrap: wrap;
}
.team-left,
.team-right {
  flex: 0 0 100%;
  margin-bottom: 100px;
}
@media only screen and (min-width: 1024px) {
  .team-50-50 {
    flex-wrap: nowrap;
  }
  .team-left,
  .team-right {
    flex: 0 0 50%;
  }
}
.sub-content {
  display: flex;
  flex-wrap: wrap;
  color: #333;
  text-align: left;
  margin-top: 40px;
}
.sub-content img {
  margin-bottom: 20px;
}
h3.team-h3 {
  color: #333;
  font-family: "CircularXXWeb-Medium", sans-serif;
  font-size: 1.5em;
  line-height: 30px;
  text-align: left;
}
h4.team-h4 {
  color: #333;
  font-family: "CircularXXWeb-Medium", sans-serif;
  line-height: 32px;
  text-align: left;
}
.sub-content h4 {
  color: #333;
  font-family: "CircularXXWeb-Medium", sans-serif;
}
.sub-content p {
  margin-bottom: 15px;
  font-family: CircularXXWeb-Book, sans-serif;
}
.sub-content a {
  color: #333;
}
.sub-content-left,
.sub-content-right {
  flex: 0 0 100%;
  flex-wrap: wrap;
  padding-right: 50px;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .sub-content {
    flex-wrap: wrap;
  }
  .sub-content-left,
  .sub-content-right {
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .sub-content {
    flex-wrap: nowrap;
  }
  .sub-content-left,
  .sub-content-right {
    flex: 0 0 50%;
    padding-right: 20px;
  }
}

.content-text {
  padding: 50px 30px 50px 30px;
}
.content-text h3 {
  font-size: 1.25em;
  color: #00b0a9;
}
@media only screen and (min-width: 768px) {
  .content-left {
    flex: 0 0 50%;
  }
  .content-right {
    flex: 0 0 50%;
  }
  .content-right h3 {
    font-size: 1.5em;
  }
  .content-text {
    padding: 80px 100px 80px 100px;
  }
  .content-text h3 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .content-right h3 {
    font-size: 2em;
  }
  .content-text h3 {
    font-size: 2em;
  }
}

.image-full-width {
  background-repeat: no-repeat;
  text-align: center;
}
.fixed-image {
  background-attachment: scroll;
}
.reimagined-image-container {
  /* background-image: url("../img/80-strand-pavillion-original.jpg");
  background-position: bottom center;
  background-size: cover; */
  height: 400px;
  overflow: hidden;
}
.reimagined-image-container-alt {
  height: 400px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.reimagined-image-container-alt img {
  margin-top: -590px;
  width: 100%;
  z-index: 0;
}
.reimagined-image {
  padding-bottom: 75%;
}
.entrance-2 {
  background-image: url("../img/2016-80Strand-Cafe-200609.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 60%;
}
.garden-1 {
  background-image: url("../img/Eighty_Strand_Glasshouse_gardens_level_CGI.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 64%;
}
.location-image {
  background-image: url("../img/cool-image-full.jpg");
  background-position: top center;
  background-size: cover;
  height: 240px;
}
.location-animation-container {
  position: relative;
  height: 100%;
}
.location-animation {
  position: absolute;
  bottom: -150px;
  left: -100px;
  width: 400px;
  height: 400px;
}

h2.reimagined {
  color: white;
  font-size: 1.9em;
  padding: 100px 25px 0 25px;
  font-family: CircularXXWeb-Medium, sans-serif;
  z-index: 1;
}
.reimagined-alt-container {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}
h2.reimagined-alt {
  color: white;
  font-size: 1.9em;
  padding: 0 25px 0 25px;
  font-family: CircularXXWeb-Medium, sans-serif;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .fixed-image {
    background-attachment: fixed;
  }
  .reimagined-image-container {
    height: 600px;
  }
  .reimagined-image-container-alt {
    height: 600px;
  }
  .reimagined-image {
    padding-bottom: 60%;
  }
  h2.reimagined {
    font-size: 3.5em;
    padding: 150px 25px 0 25px;
  }
  h2.reimagined-alt {
    font-size: 3.5em;
  }
  .location-image {
    height: 400px;
  }
  .location-animation {
    left: -300px;
    bottom: -360px;
    width: 900px;
    height: 900px;
  }
}
@media only screen and (min-width: 1024px) {
  .reimagined-image-container {
    height: 700px;
  }
  .reimagined-image-container-alt {
    height: 700px;
  }
  .reimagined-image {
    padding-bottom: 30%;
  }
  .location-image {
    height: 600px;
  }
  .location-animation {
    left: -400px;
    bottom: -470px;
    width: 1200px;
    height: 1200px;
  }
}
@media only screen and (min-width: 1200px) {
  .location-image {
    height: 800px;
  }
  .location-animation {
    /*top: 0;*/
    left: -600px;
    bottom: -650px;
    width: 1600px;
    height: 1600px;
  }
}

.snapshots-row-1 {
  display: block;
}
.snapshots-row-1 .col-1 {
  display: inline-block;
  float: left;
  width: calc(100% - 135px);
}
.snapshots-row-1 .col-2 {
  display: inline-block;
  float: right;
  width: 135px;
}
.snapshots-row-1 .col-2 img {
  margin-top: -50px;
}
.snapshots-row-1 .col-3 {
  clear: both;
  display: block;
  padding-top: 15px;
}
@media only screen and (min-width: 768px) {
  .snapshots-row-1 {
    display: flex;
    flex-wrap: nowrap;
  }
  .snapshots-row-1 .col-1 {
    flex: 0 0 60%;
  }
  .snapshots-row-1 .col-2 {
    flex: 0 0 125px;
  }
  .snapshots-row-1 .col-2 img {
    margin-top: -50px;
  }

   .snapshots-row-1 .col-2 .place__caption__text {
    margin-top: -50px;
  }



  .snapshots-row-1 .col-3 {
    flex: 1 1 20%;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .snapshots-row-1 .col-1 {
    flex: 0 0 65%;
  }
  .snapshots-row-1 .col-2 {
    flex: 0 0 165px;
  }
  .snapshots-row-1 .col-3 {
    flex: 1 1 15%;
    padding: 0 50px 0 0;
  }
  .snapshots-row-1 .col-4 {
    flex: 0 0 90px;
  }

   .snapshots-row-2 .col-5 {
    flex: 0 0 15%;
  }

.place__caption__text {color:#00b0a9; font-size:12px; line-height:13px; text-align:center;}

.snapshots-row-2 .arrow-container {height:140px; text-align:left; width:50%; margin-left:-50px; }
 
}
.southbank-text {
  font-size: 1em;
  line-height: 120%;
}

.snapshots-row-2,
.snapshots-row-9 {
  display: block;
  margin-top: 30px;
}
.snapshots-row-2 .col-1,
.snapshots-row-2 .col-9 {
  width: 80%;
}
.snapshots-row-2 .col-1 img,
.snapshots-row-9 .col-1 img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .snapshots-row-2,
  .snapshots-row-9 {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
  }
  .snapshots-row-2 .col-1,
  .snapshots-row-9 .col-1 {
    flex: 0 0 27%;
    width: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .snapshots-row-2 {
    margin-top: -180px;
  }

  .snapshots-row-9 {
    margin-top: -320px;
  }
}

.snapshots-row-3 {
  display: block;
  padding-top: 50px;
}
.snapshots-row-3 .col-1 {
  text-align: right;
  display: block;
}
.snapshots-row-3 .col-1 img {
  display: inline-block;
}
.snapshots-row-3 .col-2 {
  position: relative;
  width: 100%;
  padding: 0 0 60% 0;
  overflow: hidden;
}
.snapshots-row-3 .col-2 .vaults-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 800px;
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.vaults-image-static {}

.snapshots-row-3 .col-3 {
  display: inline-block;
  float: left;
  width: 40%;
}
.snapshots-row-3 .col-3 img {
  margin-top: -30px;
}
@media only screen and (min-width: 768px) {
  .snapshots-row-3 {
    display: flex;
    padding-top: 0;
  }
  .snapshots-row-3 .col-1 {
    flex: 0 0 10%;
  }
  .snapshots-row-3 .col-1 img {
    display: none;
  }
  .snapshots-row-3 .col-2 {
    flex: 0 0 250px;
    height: 190px;
    padding: 0;
    display: inline-block;
    float: left;
    width: 50%;
  }

  .snapshots-row-3 .col-3 .arrow-5 {margin-top:0px;}



  .snapshots-row-3 .col-2 .vaults-image {
    position: relative;
  }
  .snapshots-row-3 .col-3 {
    flex: 0 0 135px;
  }
  .snapshots-row-3 .col-3 img {
    margin-top: -50px;
  }

   .snapshots-row-3 .col-3 .place__caption__text {
    margin-top: -50px;
  }
}
@media only screen and (min-width: 1024px) {
  .snapshots-row-3 .col-2 {
    flex: 0 0 358px;
    height: 530px;
    padding: 0 0 0 30px;
  }
}

.snapshots-row-4 {
  display: block;
  clear: both;
  margin-top: 50px;
  position: relative;
}
.snapshots-row-4 .col-1,
.snapshots-row-4 .col-2 {
  position: relative;
  height: 100%;
}
.snapshots-row-4 .col-1 {
  text-align: center;
  color: #00b0a9;
  box-sizing: border-box;
  padding: 0 0 30px 0;
}
.snapshots-row-4 .col-1 h4 {
  font-size: 1.25em;
}
.snapshots-row-4 .col-2 .arrow-container {
  position: absolute;
  top: 20px;
  left: -220px;
}
.snapshots-row-4 .col-2 img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .snapshots-row-4 {
    display: flex;
    align-items: center;
    margin-top: 50px;
    clear: none;
  }
  .snapshots-row-4 .col-1,
  .snapshots-row-4 .col-2 {
    flex: 0 0 50%;
    position: relative;
    height: 100%;
  }
  .snapshots-row-4 .col-1 {
    padding: 0 20% 0 0;
  }
  .snapshots-row-4 .col-1 h4 {
    font-size: 2em;
  }
}

.snapshots-row-5 {
  margin-top: 80px;
  position: relative;
}
.snapshots-row-5 .col-1-1 {
  display: block;
  background-image: url("../img/80-STRAND-1020_051.jpg");
  background-size: 100%;
  background-position: center;
  width: 100%;
  padding-bottom: 30%;
  overflow: hidden;
}
.snapshots-row-5 .col-1-1 img {
  width: 100%;
}
.snapshots-row-5 .col-2 {
  display: none;
}
.snapshots-row-5 .col-3 {
  clear: both;
  margin: 30px 0 0 120px;
}
.frenchie-image {
  display: block;
  width: 100%;
  margin-top: 100px;
  position: relative;
}
.frenchie-image .arrow-container {
  position: absolute;
  left: -120px;
  top: 100px;
}
.frenchie-image img {
  width: 100%;
}
.frenchie-text {
  display: block;
  margin-top: 25px;
  max-width: 250px;
}
@media only screen and (min-width: 768px) {
  .snapshots-row-5 {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 150px;
  }
  .snapshots-row-5 .col-1-1 {
    flex: 0 0 50%;
  }
  .snapshots-row-5 .col-1-1 img {
    width: 100%;
  }
  .snapshots-row-5 .col-2 {
    flex: 0 0 130px;
    display: block;
    position: relative;
  }
  .snapshots-row-5 .col-2 .arrow-container {
    position: absolute;
    top: -50px;
    left: 0;
  }

.snapshots-row-5 .col-2 .arrow-7 {margin-top: 10px;}

  .snapshots-row-5 .col-3 {
    margin: 0;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frenchie-image {
    margin-top: 50px;
  }
  .frenchie-image .arrow-container {
    left: -120px;
    top: 130px;
  }
  .frenchie-text {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    width: 240px;
  }
}
@media only screen and (min-width: 1024px) {
  .snapshots-row-5 .col-2 {
    flex: 0 0 199px;
  }
  .frenchie-text {
    bottom: 0;
    width: 250px;
  }
}

.snapshots-row-6 {
  display: block;
}
.snapshots-row-6 .col-1 {
  display: block;
}
.snapshots-row-6 .col-1 .text-container {
  display: block;
  font-family: CircularXXWeb-Book, sans-serif;
  font-size: 1em;
  line-height: 120%;
  width: 50%;
  max-width: 300px;
  padding-right: 25px;
  box-sizing: border-box;
}
.snapshots-row-6 .col-1 .image-container {
  display: inline-block;
  float: right;
  width: 50%;
  position: relative;
}
.snapshots-row-6 .col-1 .image-container img {
  width: 100%;
  max-width: 154px;
}
.snapshots-row-6 .col-1 .image-container .arrow-container {
  position: absolute;
  top: 30px;
  left: -160px;
}
.snapshots-row-6 .col-1 .image-container .apple-image {
  display: inline-block;
  position: relative;
}

.snapshots-row-6 .col-2 {
  display: inline-block;
  float: left;
  margin-top: 30px;
  width: calc(100% - 122px);
}
.snapshots-row-6 .col-2 img {
  width: 100%;
}
.snapshots-row-6 .col-3 {
  display: inline-block;
  float: right;
  width: 122px;
  padding-top: 50px;
}
@media only screen and (min-width: 768px) {
  .snapshots-row-6 .col-1 .text-container {
    display: inline-block;
    float: left;
    width: 50%;
    max-width: 300px;
    padding-right: 25px;
  }
  .snapshots-row-6 .col-1 .image-container img {
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1100px) {
  .snapshots-row-6 {
    display: flex;
  }
  .snapshots-row-6 .col-1 {
    flex: 1;
  }
  .snapshots-row-6 .col-2 {
    flex: 0 0 50%;
    margin-top: 0;
  }
  .snapshots-row-6 .col-1 .text-container {
    display: block;
    float: none;
    width: 250px;
    margin-top: 60px;
  }
  .snapshots-row-6 .col-1 .image-container {
    display: block;
    float: none;
    margin-top: 100px;
    padding-right: 50px;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
  }
  .snapshots-row-6 .col-1 .image-container .arrow-container {
    top: 130px;
    left: -160px;
  }
  .snapshots-row-6 .col-3 {
    flex: 0 0 122px;
    padding-top: 0;
  }

  .snapshots-row-6 .col-3 .arrow-9 {margin-top: 10px;}
}

.snapshots-row-7 {
  display: block;
  clear: both;
}

.snapshots-row-7 .arrow-11 {margin-top:10px;}




.snapshots-row-7 .col-1 {
  width: 75%;
  max-width: 200px;
  display: inline-block;
  box-sizing: border-box;
  padding: 50px 0 0 0;
  position: relative;
}
.snapshots-row-7 .col-1 img {
  width: 100%;
}
.snapshots-row-7 .col-1 .arrow-container {
  position: absolute;
  top: 150px;
  right: -130px;
}
@media only screen and (min-width: 768px) {
  .snapshots-row-7 {
    display: flex;
    align-items: center;
    margin-top: -80px;
  }
  .snapshots-row-7 .col-1 {
    flex: 0 0 25%;
  }
  .snapshots-row-7 .col-1 img {
    width: 100%;
  }
  .snapshots-row-7 .col-1 .arrow-container {
    top: 150px;
  }
}
@media only screen and (min-width: 1110px) {
  .snapshots-row-7 .col-1 {
    flex: 0 0 25%;
    max-width: 400px;
    padding: 0;
  }
  .snapshots-row-7 .col-1 .arrow-container {
    top: 150px;
  }
}

.snapshots-row-8 {
  clear: both;
  display: block;
  align-items: flex-end;
  margin-top: 30px;
}
.snapshots-row-8 .col-1 {
  position: relative;
  display: inline-block;
  float: left;
  padding-top: 50px;
}
.snapshots-row-8 .col-1 img {
  position: absolute;
  top: -180px;
  right: 20px;
}

.snapshots-row-8 .col-2 {
  width: 100%;
  position: relative;
}
.snapshots-row-8 .col-2 img {
  width: 100%;
  margin: 130px 0 30px 0px;
}
.snapshots-row-8 .col-2 .arrow-container {
  position: absolute;
  top: -120px;
  left: 50px;
}
.snapshots-row-8 .col-2 .arrow-container img {
  width: 138px;
}

.snapshots-row-8 .arrow-12 {margin-top:0px;}


.covent-garden-caption {
  max-width: 220px;
}
@media only screen and (min-width: 768px) {
  .snapshots-row-8 {
    display: flex;
    align-items: flex-end;
    margin-top: -140px;
  }
  .snapshots-row-8 .col-1 {
    flex: 1;
  }
  .snapshots-row-8 .col-1 p {
    max-width: 240px;
    margin-left: 0;
  }
  .snapshots-row-8 .col-2 {
    flex: 0 0 55%;
  }
  .snapshots-row-8 .col-2 img {
    margin: 0 0 0 0;
  }
  .snapshots-row-8 .col-2 .arrow-container {
    top: 150px;
    left: -150px;
  }
}
@media only screen and (min-width: 1024px) {
  .snapshots-row-8 .col-1 p {
    max-width: 240px;
    margin-left: 120px;
  }
}

.map-heading {
  text-align: center;
  padding: 0 5% 50px 5%;
}
.map-heading h3 {
  color: #ffed00;
  font-size: 1.5em;
  font-family: CircularXXWeb-Medium, sans-serif;
}
.map {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.map-left {
  flex: 0 0 100%;
}
.map-left svg {
  width: 100%;
  height: auto;
}
.map-right {
  flex: 0 0 100%;
  position: relative;
}
.map-right .arrow-container {
  position: absolute;
  left: -60px;
}
#map-accordion {
  padding: 0 0 50px 0;
}
#map-accordion ul {
  display: block;
  list-style-type: none;
  color: white;
  padding-bottom: 10px;
}
#map-accordion ul li {
  padding: 4px 10px 3px 10px;
  cursor: pointer;
}
#map-accordion ul li:hover,
#map-accordion ul li.is-active {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .map {
    flex-direction: row;
    margin-bottom: 50px;
  }
  .map-heading {
    padding: 0 20% 50px 20%;
  }
  .map-heading h3 {
    font-size: 2em;
  }
  .map-left {
    flex: 0 0 75%;
    text-align: left;
    box-sizing: border-box;
  }
  .map-right {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding-top:80px;
  }
  #map-accordion {
    padding: 0 0 0 100px;
  }
}

@keyframes flash {
  50%,
  from,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.map__circle {
  cursor: pointer;
  r: 5;
}
.occupiers {
  fill: #1d1d1b;
}
.arts {
  fill: #3457bd;
}
.food {
  fill: #e40428;
}
.retail {
  fill: #ff830a;
}
.map__circle.is-active {
  animation: flash linear 2.7s infinite;
  -webkit-animation: flash linear 2.7s infinite;
  stroke-width: 14px;
  stroke-opacity: 0.4;
}
.map__circle.occupiers.is-active {
  stroke: #1d1d1b;
}
.map__circle.arts.is-active {
  stroke: #3457bd;
}
.map__circle.food.is-active {
  stroke: #e40428;
}
.map__circle.retail.is-active {
  stroke: #ff830a;
}

span.ui-accordion-header-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  float: right;
  background-size: 18px;
  background-repeat: no-repeat;
  margin-top: 2px;
}
.ui-icon-circle-arrow-e {
  background-image: url("../img/accordion-down.svg") !important;
}
.ui-icon-circle-arrow-s {
  background-image: url("../img/accordion-up.svg") !important;
}

.accordion-heading {
  color: white;
  padding: 4px 10px;
}
.occupiers {
  background-color: #000;
}
.arts {
  background-color: #3457bd;
}
.food {
  background-color: #e40428;
}
.retail {
  background-color: #ff830a;
}

.cool-wrapper {
  display: block;
  clear: both;
  margin: 100px auto 0 auto;
  max-width: 1024px;
  padding: 0;
}
.cool-container {
  display: block;
  background-image: url("../img/cool-image.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-top: 30px;
  padding-bottom: 60%;
  position: relative;
}
.cool-animation {
  position: absolute;
  top: -150px;
  left: -100px;
  width: 400px;
  height: 400px;
  z-index: 0;
}
.cool-text {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 20px 0 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}
.cool-text p {
  font-size: 1.2em;
  color: #00b0a9;
}

.cool-text h3 {
   font-size: 2em;
   color: #00b0a9;
}


@media only screen and (min-width: 500px) {
  .cool-wrapper {
    margin: 300px auto 0 auto;
  }
  .cool-animation {
    top: -220px;
    left: -190px;
    width: 600px;
    height: 600px;
  }
  .cool-text p {
    font-size: 1.5em;
    color: #00b0a9;
  }
}
@media only screen and (min-width: 768px) {
  .cool-container {
    margin-top: 50px;
    background-position: right;
    padding-bottom: 60%;
    box-sizing: border-box;
  }
  .cool-animation {
    top: -430px;
    left: -340px;
    width: 1100px;
    height: 1100px;
  }
  .cool-text {
    width: 550px;
    margin: -100px 0 0 0;
    padding: 0 20px 0 20px;
    box-sizing: none;
  }
  .cool-text p {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 1100px) {
  .cool-animation {
    top: -535px;
    left: -470px;
    width: 1400px;
    height: 1400px;
  }
}
.space-for-lottie-player {
  display: block;
  height: 200px;
}

h2.wellconnected-heading {
  color: #00b0a9;
  font-size: 2em;
  margin: 50px 0 50px 0;
  position: relative;
  font-family: CircularXXWeb-Medium, sans-serif;
}
.wellconnected-container {
  display: block;
  margin-top: 100px;
}
.wellconnected-container-left {
  display: block;
  padding: 0 20px;
  box-sizing: border-box;
}
.wellconnected-container-left h3 {
  color: #00b0a9;
  font-family: CircularXXWeb-Medium, sans-serif;
  font-size: 1.25em;
  line-height: 120%;
}
.wellconnected-details {
  text-align: left;
  width: 100%;
  position: relative;
  top: -30px;
}
.wellconnected-details p {
  margin: 15px 0 10px 0;
  font-size: 1em;
  color: #333;
}
.wellconnected-container-right {
  display: block;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: -50px;
  background-image: url("../img/Tube-map-OFF.svg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 100%;
}
.wellconnected-container-right.walking {
  background-image: url("../img/Tube-map-ON.svg");
}
.walking-click-container {
  text-align: right;
  margin-top: 150px;
}
.walking-times-container {
  display: inline-block;
  position: relative;
  background-image: url("../img/walking-times-icon.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 75px;
  width: 75px;
  cursor: pointer;
  z-index: 8;
}
.walking-times-container:hover {
  background-image: url("../img/walking-times-icon-hover.svg");
}
.walking-arrow-container {
  background-image: url("../img/walking-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -80px;
  right: 30px;
  width: 150px;
  height: 100px;
}
@media only screen and (min-width: 768px) {
  h2.wellconnected-heading {
    font-size: 3.5em;
    margin: 50px 0 50px 0;
  }
  .wellconnected-container {
    display: flex;
    flex-wrap: wrap;
  }
  .wellconnected-container-left {
    flex: 0 0 30%;
    padding: 0 10px 0 0;
  }
  .wellconnected-container-left h3 {
    font-size: 2em;
  }
  .wellconnected-details {
    width: 65%;
  }
  .wellconnected-details p {
    margin: 0 0 10px 0;
    font-size: 1em;
  }
  .wellconnected-container-right {
    flex: 0 0 70%;
    padding: 0 0 0 30px;
    margin-top: 0;
  }
}

.location-pictures h3 {
  color: #00b0a9;
  font-size: 1.25em;
  font-family: CircularXXWeb-Medium, sans-serif;
  width: 90%;
  margin: 0 auto;
}

.elegant-lunch-text,
.covent-garden-text {
  position: relative;
}
.covent-garden-text {
  top: -60px;
}

.elegant-lunch-text-normal h3 {font-size: 32px; line-height:38.4px;}

.cool_static_icon {position:absolute; bottom:20px;left:20px;}


.cool_static_icon img {width:80%;}


@media only screen and (min-width: 768px) {
  .location-pictures h3 {
    font-size: 2em;
    line-height:38.4px;
    width: 60%;
    text-align:center;
  }
}

.the-views-intro {
  text-align: center;
  color: #00b0a9;
  padding: 0;
  font-size: 0.9em;
}
@media only screen and (min-width: 768px) {
  .the-views-intro {
    padding: 30px 18% 30px 18%;

  }

   .the-views-intro h2 {
   font-size: 32px; line-height:38.4px;
  }
}
.views-look {
  position: relative;
  display: block;
}
.views-look-wrapper {
  display: block;
  position: relative;
}

.views-look-graphic {
  position: absolute;
  top: -30px;
  right: -300px;
  width: 150px;
  z-index: 2;
  opacity: 0;
}

.views-look-graphic img {
  width: 100%;
}
.views-look-container {
  display: block;
  width: 100%;
  clear: both;
  margin-top: 50px;
}
.views-look-left {
  display: block;
  position: relative;
  width: 80%;
  padding-top: 54.19%;
  background-image: url("../img/terraces.jpg");
  background-size: cover;
}
.look-container {
  position: absolute;
  top: -20px;
  left: 75%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  overflow: hidden;
}
.look-arrow-container {
  display: none;
}
.look-animation {
  position: absolute;
  top: -85px;
  left: -70px;
  width: 240px;
  height: 240px;
}
.views-look-right {
  display: block;
  box-sizing: border-box;
  padding: 15px 0 0 0;
  color: #333;
}
.views-look-right p {
  width: 220px;
}
.views-text {
  width: 100%;
  text-align: center;
  padding: 40px 0 30px 0;
  font-size: 1.5em;
  line-height: 120%;
  color: #00b0a9;
}
.your-view {
  position: absolute;
  bottom: 50px;
  color: white;
}
@media only screen and (min-width: 400px) {
  .look-container {
    top: -15px;
    left: 90%;
    width: 100px;
    height: 100px;
  }
  .look-animation {
    top: -85px;
    left: -70px;
    width: 240px;
    height: 240px;
  }
}
@media only screen and (min-width: 500px) {
  .look-container {
    top: -20px;
    left: 90%;
    width: 150px;
    height: 100px;
  }
  .look-animation {
    top: -120px;
    left: -100px;
    width: 350px;
    height: 350px;
  }
}
@media only screen and (min-width: 600px) {
  .look-container {
    top: -30px;
    left: 80%;
    width: 240px;
    height: 150px;
  }
  .look-animation {
    top: -200px;
    left: -170px;
    width: 580px;
    height: 580px;
  }
  .views-look-graphic {
    width: 333px;
    top: -50px;
  }
  .views-look-container {
    display: flex;
    align-items: flex-end;
    margin-top: 80px;
  }
  .views-look-left {
    flex: 0 0 70%;
  }
  .views-look-right {
    flex: 0 0 30%;
    padding: 0 0 0 15px;
  }
  .views-look-right p {
    width: 160px;
  }
  .views-text {
    width: 400px;
    padding: 40px 0 30px 0;
    font-size: 2em;
  }
}
@media only screen and (min-width: 768px) {
  .look-container {
    top: -30px;
    left: 85%;
    width: 240px;
    height: 150px;
  }
  .views-look-right p {
    width: 200px;
  }
  .look-arrow-container {
    display: block;
    position: absolute;
    bottom: -260px;
    right: 50px;
    z-index: 5;
  }
  .look-arrow-container img {
    width: 220px;
  }
}
@media only screen and (min-width: 1024px) {
  .look-container {
    top: -40px;
    left: 80%;
    width: 440px;
    height: 280px;
  }
  .look-animation {
    top: -400px;
    left: -350px;
    width: 1150px;
    height: 1150px;
  }
  .views-look-graphic {
    width: 433px;
  }
  .views-look-right p {
    width: 220px;
  }
  .look-arrow-container {
    bottom: -300px;
    right: 100px;
  }
  .look-arrow-container img {
    width: 399px;
  }
}

#top-block {
  padding-top: 80px;
  display: block;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #top-block {
    padding-top: 150px;
  }
}
.yellow-block {
  background-color: #ffed00;
  color: #00b0a9;
}
.turquoise-block {
  background-color: #00b0a9;
  color: #ffed00;
}
.page-heading {
  position: relative;
  top: -50px;
  opacity: 0;
}

.level-container {
  text-align: center;
}
.level {
  display: inline-block;
  color: #000000;
  font-family: CircularXXWeb-Book, sans-serif;
  font-weight:100;
  border-bottom: 1px solid white;
}
.level:hover,
.level.active {
  border-bottom: 1px solid #000000;
   font-family: CircularXXWeb-Medium, sans-serif;
   font-weight: bold
}
.level-divider {
  display: inline-block;
  width: 30px;
  height: 4px;
  margin: 0 6px;
  border-top: 1px solid #000000;
}

.level-cgi {
  display: block;
  background-image: url("../img/level-embankment.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 56%;
}
@media only screen and (min-width: 768px) {
  .level-cgi {
    padding-bottom: 46%;
  }
}
@media only screen and (min-width: 1024px) {
  .level-cgi {
    padding-bottom: 36%;
  }
}
.mezzanine-buttons,
.strand-buttons {
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  color: white;
  z-index: 1000;
  text-align: left;
  display: none;
}
.mezz-button {
  cursor: pointer;
  margin-right: 10px;
  width: 39px;
  height: 39px;
}
@media only screen and (min-width: 768px) {
  .mezz-button {
    cursor: pointer;
    margin-right: 20px;
    width: 58px;
    height: 58px;
  }
}
#CAT_A_CGI_BUTTON:hover #Ellipse_141,
#CAT_A_CGI_BUTTON.active #Ellipse_141 {
  fill: #00b0a9;
}
#CAT_A_CGI_BUTTON:hover #CAT_A,
#CAT_A_CGI_BUTTON.active #CAT_A {
  fill: #ffed00;
}
#CORPORATE_CGI_BUTTON:hover #Ellipse_141,
#CORPORATE_CGI_BUTTON.active #Ellipse_141,
#CORPORATE_CGI_BUTTON_STRAND:hover #Ellipse_141,
#CORPORATE_CGI_BUTTON_STRAND.active #Ellipse_141 {
  fill: #00b0a9;
}
#CORPORATE_CGI_BUTTON:hover #Path_10662,
#CORPORATE_CGI_BUTTON.active #Path_10662,
#CORPORATE_CGI_BUTTON_STRAND:hover #Path_10662,
#CORPORATE_CGI_BUTTON_STRAND.active #Path_10662 {
  fill: #ffed00;
}
#CREATIVE_CGI_BUTTON:hover #Ellipse_142,
#CREATIVE_CGI_BUTTON.active #Ellipse_142,
#CREATIVE_CGI_BUTTON_STRAND:hover #Ellipse_142,
#CREATIVE_CGI_BUTTON_STRAND.active #Ellipse_142 {
  fill: #00b0a9;
}
#CREATIVE_CGI_BUTTON:hover #Path_10663,
#CREATIVE_CGI_BUTTON.active #Path_10663,
#CREATIVE_CGI_BUTTON_STRAND:hover #Path_10663,
#CREATIVE_CGI_BUTTON_STRAND.active #Path_10663 {
  fill: #ffed00;
}

#level-title {
  display: block;
  color: white;
  font-size: 56px;

  padding-top: 60px;
}
.content-bottom {
  position: absolute;
  height: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
}
.choose-container {
  margin: 0 auto;
  height: 100px;
  max-width: 1064px;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: right;
  display: block;
  position: relative;
  overflow: hidden;
}
.choose-animation {
  position: absolute;
  top: -65px;
  right: -30px;
  width: 260px;
  height: 250px;
}
#level-choose {
  display: inline-block;
  background-image: url("../img/choose.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 100px;
  position: absolute;
  right: -300px;
  opacity: 0;
}
@media only screen and (min-width: 768px) {
  .choose-container {
    height: 260px;
  }
  #level-choose {
    width: 500px;
    height: 300px;
  }
  .content-bottom {
    height: 300px;
  }
  .choose-animation {
    top: -65px;
    right: -70px;
    width: 500px;
    height: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  .choose-animation {
    top: -65px;
    right: -100px;
    width: 780px;
    height: 400px;
  }
}

.yellow-centered-heading {
  text-align: center;
  color: #ffed00;
  font-size: 1.25em;
  padding: 0 15% 50px 15%;
}
.yellow-centered-heading h3 {
  font-family: CircularXXWeb-Medium, sans-serif;
  font-size: 32px; line-height:38.4px;
}
@media only screen and (min-width: 768px) {
  .yellow-centered-heading {
    font-size: 2em;
    padding: 0 15% 80px 15%;
  }
}

.floor-plan-wrapper {
  display: none;
  color: white;
}
.floor-plan-container {
  display: flex;
  align-items: center;
}
.floor-plan-left {
  /*flex: 0 0 120px;*/
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 60px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.floor-plan-left div {
  flex: 0 0 50%;
  width: 40px;
  box-sizing: border-box;
}

.floor-plan-centre {
  flex: 1;
  box-sizing: border-box;
  padding: 20px 30px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 45%;
  display: block;
  position: relative;
}
.floor-plan-right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 60px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.floor-plan-left span,
.floor-plan-right span {
  display: block;
}
.floor-plan-left img {
  margin-left: -20px;
}
.floor-plan-right img {
  margin-right: -20px;
}
p.floor-plan-text {
  color: #333;
  font-size: 1em;
}
p.not-to-scale {
  color: white;
  font-size: 0.9em;
}

.levels {
  display: block;
}
.levels-left,
.levels-right {
  display: block;
  box-sizing: border-box;
}
.levels-left {
  padding: 0;
}
.levels-right {
  padding: 0 0 60% 0;
  position: relative;
  background-image: url("../img/AXO/full-axo.svg");
  background-position: center top;
  background-repeat: no-repeat;
}
.levels-right img {
  margin-top: 30px;
  width: 100%;
}

#level-table {
  color: white;
  display: block;
}
.level-row {
  display: block;
  box-sizing: border-box;
  background-image: url("../img/eye.svg");
  background-position: left 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.level-row.active {
  background-image: url("../img/eye-on.svg");
}
.level-highlight {
  display: flex;
  margin-left: 40px;
  border-bottom: 1px solid yellow;
  padding: 6px 0;
  font-size: 0.8em;
}
.level-name {
  flex: 0 0 40%;
  box-sizing: border-box;
  padding: 0;
}
.level-feet {
  flex: 0 0 30%;
  box-sizing: border-box;
  padding: 0;
  text-align: right;
}
.level-m {
  flex: 0 0 30%;
  box-sizing: border-box;
  padding: 0;
  text-align: right;
}
.level {
  cursor: pointer;
}
.square-dots-wrapper {
  height: 100px;
  margin: 30px 0 0 40px;
  display: block;
  text-align: center;
}
.square-dots-container {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.square-dots-animation {
  position: absolute;
  top: -160px;
  left: -170px;
  width: 500px;
  height: 500px;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .levels {
    display: flex;
  }
  .levels-left,
  .levels-right {
    flex: 0 0 50%;
  }
  .levels-left {
    padding: 0 30px 0 0;
  }
  .levels-right {
    padding: 0 0 0 30px;
  }
  .levels-right img {
    margin-top: 0;
  }
  .level-highlight {
    margin-left: 50px;
    border-bottom: 1px solid yellow;
    padding: 10px 0;
    font-size: 1em;
  }
  .square-dots-wrapper {
    height: 100px;
    margin: 30px 0 30px 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .square-dots-wrapper {
    height: 230px;
    margin: 30px 0 30px 50px;
  }
  .square-dots-container {
    height: 320px;
    width: 350px;
  }
  .square-dots-animation {
    top: -300px;
    left: -300px;
    width: 1000px;
    height: 1000px;
  }
}

.pavillion-container {
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
}
.pavillion-container .col-1 {
  flex: 0 0 70%;
  position: relative;
}
.pavillion-container .col-1 .arrow-container {
  position: absolute;
  top: -114px;
  right: 0;
}
.pavillion-container .col-1 img {
  width: 100%;
}
.pavillion-container .col-2 {
  flex: 0 0 30%;
  position: relative;
}
.pavillion-text {
  position: absolute;
  bottom: 30px;
  left: -150px;
  text-align: center;
  font-size: 1.25em;
  line-height: 120%;
}
@media only screen and (min-width: 768px) {
  .pavillion-text {
    bottom: 30px;
    left: -150px;
    font-size: 2em;
  }
}

.experience-divider {
  height: 100px;
  display:flex;
}

.experience-divider .col-1 {
 flex: 0 0 350px;
  position:relative;
} 

.experience-divider .col-1 .arrow-12 {
 margin-top: 0px;
} 



.experience-divider .col-1 .place__caption__text {
margin-top:-10px;
}


.experience-divider .col-1 .arrow-container {
    position: absolute;
    top: 20px;
    left: 50%;
}



.strand-container {
  display: flex;
  align-items: flex-end;
  margin: 50px 0 20px 0;
}
.strand-text {
  text-align: center;
  color: #00b0a9;
  font-size: 1.25em;
  line-height: 120%;
  padding: 0;
}
.strand-container .col-1 {
  flex: 0 0 145px;
}
.strand-container .col-2 {
  position: relative;
}
.overlay-logo-container {
  position: absolute;
  top: -30px;
  left: -35px;
  z-index: 1;
}
.overlay-logo-container img {
  width: 70px;
}
img.strand-lobby {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .strand-container {
    align-items: center;
    margin: 80px 0 50px 0;
  }
  .overlay-logo-container {
    top: -30px;
    left: -77px;
  }
  .overlay-logo-container img {
    width: 154px;
  }
  .experience-divider {
    height: 150px;
  }
  .strand-text {
    font-size: 2em;
    padding: 50px 18% 0 18%;
  }
}
@media only screen and (min-width: 1024px) {
  .overlay-logo-container {
    top: 30px;
    left: -77px;
  }
}

.health-wellness-text {
  text-align: center;
  margin: 0 0 140px 0;
  font-size: 1.25em;
  line-height: 120%;
}
.open-air-container {
  display: block;
  position: relative;
  margin: 50px 0 30px 0;
}
.courtyard-arrow-container {
  position: absolute;
  top: -100px;
  left: 50px;
  z-index: 1;
}
.open-air-container .col-1 {
  display: block;
}
.open-air-container .col-1 img {
  width: 100%;
}
.open-air-container .col-2 p {
  padding: 15px 0 0 0;
  color: white;
}
@media only screen and (min-width: 768px) {
  .health-wellness-text {
    margin: 50px 5% 0 25%;
    font-size: 1.5em;
  }
  .open-air-container {
    display: flex;
    align-items: flex-end;
    margin: 80px 0 50px 0;
  }
  .open-air-container .col-1 {
    flex: 0 0 75%;
  }
  .open-air-container .col-2 p {
    padding: 0 0 0 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .health-wellness-text {
    margin: 80px 5% 0 25%;
    font-size: 2em;
  }
  .courtyard-arrow-container {
    left: 100px;
  }
}

.garden-features-container {
  position: relative;
  height: 80px;
  z-index: 1;
}
.garden-features-container img {
  position: absolute;
  bottom: -100px;
  left: 50px;
}
@media only screen and (min-width: 768px) {
  .garden-features-container img {
    left: 200px;
  }
}

.boost-container {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0 0 0;
}
.boost-container .boost-item {
  flex: 0 0 85%;
  position: relative;
}
.boost-container .boost-item img {
  width: 100%;
}
.boost-animation {
  position: absolute;
  top: -130px;
  left: -120px;
  width: 300px;
  height: 300px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .boost-animation {
    top: -180px;
    left: -250px;
    width: 600px;
    height: 600px;
  }
  .boost-container .boost-item {
    flex: 0 0 75%;
  }
}
@media only screen and (min-width: 1024px) {
  .boost-animation {
    top: -40px;
    left: -350px;
    width: 800px;
    height: 500px;
  }
}

.virgin-container {
  display: block;
  margin: 0px 0 30px 0;
}
.virgin-container .col-1 {
  display: block;
}
.virgin-container .col-1 img {
  width: 100%;
}
.virgin-container .col-2 {
  display: block;
  box-sizing: border-box;
  padding-left: 0;
  text-align: center;
}
.virgin-container .col-2 p {
  color: #00b0a9;
  font-size: 1.25em;
  padding: 15px 0 0 0;
}
@media only screen and (min-width: 768px) {
  .virgin-container {
    display: flex;
    align-items: center;
    margin: 0px 0 30px 0;
  }
  .virgin-container .col-1 {
    flex: 0 0 40%;
  }
  .virgin-container .col-2 {
    flex: 0 0 45%;
    padding-left: 40px;
  }
  .virgin-container .col-2 p {
    font-size: 2em;
    padding: 0 25px 0 25px;
  }
}

.changing-rooms-container {
  display: block;
  position: relative;
  margin-top: 100px;
}
.changing-rooms-container .col-1 {
  display: block;
}
.changing-rooms-container .col-1 img {
  width: 100%;
}
.changing-rooms-container .col-2 {
  display: block;
}
.changing-rooms-container .col-2 .arrow-container {
  position: absolute;
  top: -90px;
  right: 0;
}
.changing-rooms-container .col-2 .changing-rooms-text {
  display: block;
  font-size: 1.5em;
  line-height: 120%;
  text-align: center;
  padding-top: 15px;
}
.experience-icons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.experience-icon {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 50px 10px 0 10px;
  text-align: center;
}
.experience-icon img {
  height: 40px;
}
.experience-icon h5 {
  font-size: 1.25em;
  margin-top: 15px;
}
@media only screen and (min-width: 550px) {
  .experience-icons-container {
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
  .experience-icon {
    flex: 0 0 20%;
    padding: 50px 10px 0 10px;
  }
  .experience-icon img {
    height: 60px;
  }
  .experience-icon h5 {
    font-size: 1.5em;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1024px) {
  .changing-rooms-container {
    display: flex;
    margin-top: 0;
  }
  .changing-rooms-container .col-1 {
    flex: 0 0 80%;
  }
  .changing-rooms-container .col-2 {
    flex: 0 0 20%;
    position: relative;
  }
  .changing-rooms-container .col-2 .arrow-container {
    position: absolute;
    top: 50px;
    left: 10px;
  }
  .changing-rooms-container .col-2 .changing-rooms-text {
    position: absolute;
    bottom: 20px;
    left: -185px;
    font-size: 2em;
    padding-top: 15px;
  }
  .experience-icon {
    flex: 0 0 20%;
    padding: 50px 30px 0 30px;
  }
  .experience-icon img {
    height: 100px;
  }
}

.hide-on-mobile {
  display: none;
}
.show-on-mobile {
  display: block;
}
@media only screen and (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
  .show-on-mobile {
    display: none;
  }
}

.back-to-top {
  display: block;
  clear: both;
  margin: 30px auto 0 auto;
  max-width: 1024px;
  background-image: url("../img/back-to-top.svg");
  background-repeat: no-repeat;
  background-position: top right 15px;
  height: 33px;
  cursor: pointer;
  z-index: 1000;
}
@media only screen and (min-width: 1024px) {
  .back-to-top {
    background-position: top right;
  }
}

footer {
  clear: both;
  display: block;
  text-align: center;
  padding: 10px 30px 30px 30px;
  color: #00b0a9;
  font-family: "CircularXXWeb-Book", sans-serif;
}
footer a {
  color: #00b0a9;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
}

.container__body {
  /* width: 60vw;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

.block {
  min-width: 280px;
  position: relative;
  /* width: calc(30vw - 40px); */
  flex: 1;
  min-height: 200px;
  height: 14vw;
  /* background-color: lightgrey; */
  outline: 1px solid lightgrey;
  background: linear-gradient(
      to top right,
      transparent 49.9%,
      lightgrey 49.9%,
      lightgrey 50.1%,
      transparent 50.1%
    ),
    linear-gradient(
      to bottom right,
      transparent 49.9%,
      lightgrey 49.9%,
      lightgrey 50.1%,
      transparent 50.1%
    );
  margin: 20px;
}

/**
arrows
**/
.arrow-2 {
  position: absolute;
  width: 35vw;
  height: 32vw;
  transform: rotate(171deg);
  top: 52%;
  left: 0;
}
@media only screen and (max-width: 765px) {
  .arrow-2 {
    top: 1%;
    left: 30%;
  }
}

.arrow-3 {
  position: absolute;
  width: 72px;
  height: 55px;
  transform: rotate(83deg);
  top: 34%;
  left: 70px;
}
@media only screen and (max-width: 765px) {
  .arrow-2 {
    top: 1%;
    left: 30%;
  }
}

.arrow-4 {
  position: absolute;
  width: 72px;
  height: 83px;
  transform: rotate(183deg);
  top: -4%;
  left: 3px;
}
@media only screen and (max-width: 765px) {
  .arrow-4 {
    top: 1%;
    left: 30%;
  }
}

.arrow-5 {
  width: 72px;
  height: 78px;
  transform: rotate(183deg);
  margin-top: -73px;
}
.arrow-5-mobile {
  transform: rotate(183deg);
  width: 72px;
  height: 78px;
  top: -80px;
  right: 30px;
  position: absolute;
}
.arrow-6 {
  position: absolute;
  top: 17px;
  right: -7px;
  transform: rotate(-23deg) scaleY(-1);
  width: 119px;
  height: 99px;
}

.arrow-7 {
  transform: rotate(-167deg);
  width: 81px;
  height: 89px;
  margin-top: -90px;
  margin-left: 18px;
}

.arrow-8 {
  transform: rotate(1deg);
  width: 65px;
  height: 60px;
  margin-top: -110px;
  margin-left: 50px;
}

.arrow-9 {
  transform: rotate(180deg);
  width: 84px;
  height: 84px;
  margin-top: -83px;
  margin-left: -8px;
}

.arrow-10 {
  transform: rotate(379deg);
  width: 75px;
  height: 80px;
  margin-top: -109px;
  margin-left: 170px;
}
.arrow-11 {
  transform: rotate(179deg);
  height: 83px;
  width: 73px;
  margin-top: -80px;
}
.arrow-12 {
  transform: rotate(177deg) scaleX(-1);
  height: 92px;
  width: 77px;
  margin-top: -20px;
  margin-left: 63px;
}
.arrow-13 {
  transform: rotate(169deg) scaleX(-1);
  height: 92px;
  width: 77px;
  margin-top: -91px;
  margin-left: 68px;
}

/**
experience arrows
**/
.arrow-14 {
  margin-top: -63px;
  width: 58px;
  height: 58px;
  transform: rotate(175deg);
  margin-left: 18px;
}

.arrow-15 {
  margin-top: -83px;
  width: 83px;
  height: 80px;
  transform: rotate(182deg) scaleX(-1);
  margin-left: 53px;
}
.arrow-16 {
  margin-top: -83px;
  width: 83px;
  height: 80px;
  transform: rotate(182deg) scaleX(-1);
  margin-left: 53px;
}
.arrow-17 {
  width: 83px;
  height: 80px;
  transform: rotate(182deg);
  position: absolute;
  left: 200px;
  margin-top: 100px;
}
@media only screen and (max-width: 765px) {
  .arrow-17 {
    top: 1%;
    left: 14%;
    transform: rotate(182deg) scaleX(-1);
  }
}
.arrow-18 {
  width: 83px;
  height: 80px;
  transform: rotate(182deg);
  position: absolute;
  margin-top: -80px;
}

/**
the views arrows
**/
.arrow-19 {
  position: absolute;
  top: 0;
  transform: rotate(173deg);
}

#my-scrollbar {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.plan-btn{
  background-image: url(../img/eye-button.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: 100%;
  position: absolute;
  cursor: pointer;
}

.plan-tooltip{
  width: 10px;
  height: 10px;
  border-radius: 999px;
  position: absolute;
  /* top: 49%;
  left: 43.6%; */
  background: black;
  transition: all 1s ease;
  cursor: pointer;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.plan-tooltip::before {
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    content: '';
    border-radius: 999px;
    padding: 3px;
    left: -3px;
    bottom: -3px;
    transition: 0.5s all ease-in;
}

.plan-tooltip--flicker::before{
    animation: ease flickerAnimation 2s infinite;
}

.plan-tooltip--active::after {
    content: attr(data-before);
    color: white;
    background: black;
    padding: 0px 5px;
    font-size: 10px;
    position: absolute;
    left: 0px;
    top: 16px;
    min-width: 50px;
    text-align: center;
}