<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>Location | 80 Strand</title>
    <meta name="description" content="80 Strand">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="node_modules/animate.css/animate.min.css">
    <link rel="stylesheet" href="css/main.css">

    <meta name="theme-color" content="#fafafa">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="js/plugins.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body id="my-scrollbar">
    <script>
    AOS.init({
        duration: 2000,
    });
    </script>

    <header class="turquoise-bg">
        <div id="header-container">
            <div id="header-left">
                <a href="index.html"><div id="header-text"></div></a>
                <div id="header-logo">
                    <a href="index.html"><img src="./img/80strand-logo.svg" /></a>
                </div>
            </div>
            <div id="header-right">
                <div id="menu-trigger"></div>
            </div>
        </div>
    </header>

    <div id="main-navigation">
        <ul>
        <li><a href="index.html">The Building</a></li>
        <li><a href="location.html" class="active">Location</a></li>
        <li><a href="the-experience.html">The Experience</a></li>
        <li><a href="accommodation.html">Accommodation</a></li>
        <li><a href="the-views.html">The Views</a></li>
        <li><a href="the-team.html">The Team</a></li>
        </ul>
    </div>

    <main>

        <div id="top-block" class="turquoise-block">
            <div class="content-container">
                <div class="general-heading">
                    <h1>80 Strand’s unique location puts you on the doorstep of Covent Garden, with its many iconic theatres. While South Bank, home to London’s dynamic cultural scene, is just a short stroll away.</h1>
                </div>
            </div>
        </div>

        <div class="image-full-width location-image" data-aos="fade-up">
            <div class="content-container location-animation-container">
  <div class="cool_static_icon"><img src="./img/cool-icon.svg" /></div>
               
               <!--  <lottie-player class="location-animation" src="./img/Cool.json" background="transparent" speed="1" loop autoplay></lottie-player> -->
            </div>
        </div>

        <div class="yellow-full-width wellconnected">
            <div class="content-container">

                <h2 class="wellconnected-heading" data-aos="fade-up">Well connected. Easy access.</h2>

                <div class="wellconnected-container">
                    <div class="wellconnected-container-left">

                        <h3 data-aos="fade-up">Five underground stations and two National Rail stations are within a twelve minutes’ walk.</h3>

                        <div class="walking-click-container" data-aos="fade-up">



                            <div class="walking-times-container">
                                <div class="walking-arrow-container">
                                    <lottie-player 
                                    src="./lottie/arrow-turq.json" 
                                    background="transparent" speed="1" 
                                    autoplay
                                    class="arrow-3">
                                    </lottie-player>
                                </div>
                            </div>
                        </div>

                        <div class="wellconnected-details hide-on-mobile" data-aos="fade-up">
                            <p>The cycle superhighway, which runs along Embankment, is directly outside the building.</p>

<p>There’s also a VIP drop off area, outside the Embankment entrance, for car travel.</p>

<p>Or alternatively, the Thames Clipper is another tube-free option which docks at Embankment.</p>
                           
                        </div>
                    </div>
                    <div class="wellconnected-container-right" data-aos="fade-up">

                    </div>

                    <div class="wellconnected-details show-on-mobile" >
                        <p>2022 sees the new high-speed Elizabeth Line open at the upgraded Tottenham Court Road station.</p>
                        <p>For those travelling by car, there’s a VIP drop off area, outside the Embankment entrance, on Savoy Place. Alternatively, the Thames Clipper is another tube-free option which docks at Embankment.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="location-pictures">
            <div class="content-container">
                <div class="general-heading cultural-hotspot">
                    <h3 data-aos="fade-up">80 Strand is a cultural hotspot surrounded by a powerhouse of creativity.</h3>
                </div>
            </div>
        </div>

        <div class="location-snapshots">
            <div class="content-container">

                <div class="snapshots-row-1">
                    <div class="col-1">
                        <img data-aos="fade-up" src="./img/hayward-gallery.jpg" width="100%" />
                    </div>
                    <div data-aos="fade-up" class="col-2" style="position:relative;">
                         <div class="place__caption__text">The South Bank <br /> (10 minutes walk) </div>

                        <lottie-player 
                        src="./lottie/arrow-turq.json" 
                        background="transparent" speed="1" 
                        autoplay
                        class="arrow-4">
                        </lottie-player>
                    </div>
                    <div class="col-3">
                        <div class="southbank-text" data-aos="fade-up">
                            At 80 Strand you can have your finger constantly on the pulse: whether that’s catching the latest modern art sensation, walking past quirky street performers, or singing along to an award-winning West End musical.
                        </div>
                    </div>
                </div>

                <div data-aos="fade-up" class="snapshots-row-2">
                      <div class="col-5">



                   </div>
                    <div class="col-1">
                         <div class="arrow-container">
                         <div class="place__caption__text">National Theatre, South Bank <br />
                    (10 minutes walk)</div><br />
                            <lottie-player src="./lottie/arrow-turq.json" speed="1" autoplay class="arrow-12">
                            </lottie-player>
                        </div>
                        <img data-aos="fade-up" src="./img/EFJM1X.jpg" />
                    </div>
                </div>

                <div class="snapshots-row-3">
                    <div class="col-1">
                        <img data-aos="fade-up"src="img/the-vaults-arrow.svg" class="show-on-mobile" />
                        <div data-aos="fade-up" class="vaults-image">
                            <lottie-player 
                            src="./lottie/arrow-turq.json" 
                            speed="1" 
                            autoplay
                            class="arrow-5-mobile show-on-mobile">
                            </lottie-player>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="vaults-image-static">
                            <img src="img/80-STRAND-1020_067-RET.jpg" style="width:100%">
                        </div>
                    </div>
                    
                    <!-- todo -->
                    <div class="col-3">
                         <div class="place__caption__text">The Vaults, Leake Street <br /> (15 minutes walk)</div>
                        <div data-aos="fade-up" class="vaults-image">
                            <lottie-player 
                            src="./lottie/arrow-turq.json" 
                            speed="1" 
                            autoplay
                            class="arrow-5 hide-on-mobile">
                            </lottie-player>
                        </div>
                    </div>
                </div>

                <div class="snapshots-row-4">
                    <div class="col-1">
                        <div class="elegant-lunch-text-normal">
                            <h3>Elegant lunches and fine dining. Morning coffee and pop-up food stalls. 80 Strand is a gateway to a truly diverse dining scene – and its cafés, bars and restaurants couldn’t be easier to reach.</h4>
                        </div>
                    </div>
                    <div data-aos="fade-up"  class="col-2">
                        <div class="arrow-container">
                            <div class="place__caption__text">Mrs Fogg's Tavern, St Martin's Lane <br /> (10 minutes walk)</div> 
                            <lottie-player src="./lottie/arrow-turq.json" speed="1" autoplay class="arrow-6">
                            </lottie-player>
                        </div>
                        <img data-aos="fade-up" src="./img/80-STRAND-1020_023.jpg" />
                    </div>
                </div>

                <div class="snapshots-row-5">
                    <div class="col-1" data-aos="fade-up">

                    </div>
                    <div class="col-2" data-aos="fade-up">
                        <div class="arrow-container">
                            <div class="place__caption__text">Maxwell's Bar & Grill, King Street <br/>(5 minutes walk)</div>
                            <!-- <img  src="img/cocktails-arrow.svg" /> -->
                            <lottie-player src="./lottie/arrow-turq.json" speed="1" autoplay class="arrow-7">
                            </lottie-player>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="frenchie-image">
                            <div data-aos="fade-up"  class="arrow-container">
                                <!--  <img src="./img/frenchie-arrow.svg" /> -->
                                <div class="place__caption__text">Frenchie, <br /> Henrietta Street <br /> (4 minutes walk)</div>
                               
                                    <lottie-player src="./lottie/arrow-turq.json" speed="1" autoplay class="arrow-8">
                                    </lottie-player>
                            </div>
                            <img data-aos="fade-up" src="./img/frenchie.jpg" />
                        </div>
                        <div class="frenchie-text" data-aos="fade-up">
                            This part of London ebbs and flows from day to night, meaning there are plenty of options for evening entertainment, too.
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="location-pictures">
            <div class="content-container">
                <div class="general-heading covent-garden-text">
                    <h3 data-aos="fade-up">Covent Garden is buzzing and the place to shop, with an energy and character all of its own.</h3>
                </div>
            </div>
        </div>

        <div class="location-snapshots">
            <div class="content-container">

                <div class="snapshots-row-6">
                    <div class="col-1">
                        <div class="text-container" data-aos="fade-up">
                            A treasure trove of designer boutiques, high-street fashion and colourful courtyards, it’s one of the capital’s most exciting places to shop.
                        </div>
                        <div class="image-container">
                            <div class="apple-image">
                                <div  data-aos="fade-up" class="arrow-container">
                                 
                                    <!-- <img src="./img/apple-arrow.svg" /> -->
                                      <div class="place__caption__text"> Apple Store, Covent Garden <br /> (5 minutes walk)</div>
                                    <lottie-player src="./lottie/arrow-turq.json" speed="1" autoplay class="arrow-10">
                                    </lottie-player>
                                </div>
                                <img data-aos="fade-up" src="./img/apple.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <img data-aos="fade-up" src="./img/Longacre-0115_edit.jpg" />
                    </div>
                    <div data-aos="fade-up"  class="col-3">
                        <div class="place__caption__text"> King Street <br /> (5 minutes walk)</div>
                        <!-- <img src="./img/monica-vinader-arrow.svg" /> -->
                        <lottie-player src="./lottie/arrow-turq.json" speed="1" autoplay class="arrow-9">
                        </lottie-player>
                    </div>
                </div>

                <div class="snapshots-row-7">
                    <div class="col-1">
                        <div data-aos="fade-up"  class="arrow-container">
                            <div class="place__caption__text"> Paul Smith, Floral St <br/> (6 minutes walk)</div>
                          <!--  <img src="./img/paul-smith-arrow.svg" /> -->
                            <lottie-player src="./lottie/arrow-turq.json" speed="1" autoplay class="arrow-11">
                            </lottie-player>
                        </div>
                        <img data-aos="fade-up" src="./img/LONG-ACRE-0718_044.jpg" />
                    </div>
                </div>

                <div class="snapshots-row-8">
                    <div class="col-1">
                        <p class="hide-on-mobile" data-aos="fade-up">The covered market boasts unique craft stalls, while the pedestrianised piazza is made for leisurely lunchtime strolls.</p>
                    </div>
                    <div class="col-2" data-aos="fade-up" >
                        <div class="arrow-container">
                            <div class="place__caption__text"> Covent Garden Market <br/> (6 minutes walk)</div>
                           <!--  <img src="./img/covent-garden-arrow.svg" /> -->
                            <lottie-player src="./lottie/arrow-turq.json" speed="1" autoplay class="arrow-12">
                            </lottie-player>
                        </div>
                        <img data-aos="fade-up" src="./img/80-STRAND-1020_054_RT.jpg" />
                    </div>
                </div>
                <p data-aos="fade-up" class="show-on-mobile covent-garden-caption">The covered market boasts unique craft stalls, while the pedestrianised piazza is made for leisurely lunchtime strolls.</p>

            </div>
        </div>

        <div class="turquoise-full-width">
            <div class="content-container">

                <div class="map-heading">
                    <h3 data-aos="fade-up">A hotspot for business, culture, shopping and dining.</h3>
                </div>

                <div data-aos="fade-up" class="map">
                    <div class="map-left">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height= "100%" viewBox="0 0 800 780">
                            <image x="0" y="0" style="overflow:visible;" width="750" height="682" xlink:href="img/map-new.png" transform=""></image>
                          
                            

                            <g id="Retail_dots" data-name="Retail dots">

                                <circle data-map-name="coventgardenmarket" class="map__circle retail cls-65" cx="496.07" cy="408.39" r="4.48"/>
                                <circle data-map-name="apple" class="map__circle retail cls-65" cx="476.57" cy="473.58" r="4.48"/>
                                <circle data-map-name="reiss" class="map__circle retail cls-65" cx="454.76" cy="439.36" rx="4.48" ry="4.12"/>
                                <circle data-map-name="hackett" class="map__circle retail cls-65" cx="494.51" cy="493.28" r="4.48"/>
                                <circle data-map-name="paulsmith" class="map__circle retail cls-65" cx="490.47" cy="464.92" r="4.48"/>
                                <circle data-map-name="dior" class="map__circle retail cls-65" cx="512.07" cy="469.65" r="4.48"/>
                                <circle data-map-name="mulberryuk" class="map__circle retail cls-65" cx="533.59" cy="453.87" r="4.48"/>
                                <circle data-map-name="jigsaw" class="map__circle retail cls-65" cx="455.58" cy="470.97" r="4.48"/>
                                <circle data-map-name="clubmonaco" class="map__circle retail cls-65" cx="347.07" cy="375.35" r="4.48"/>
                                <circle data-map-name="sandro" class="map__circle retail cls-65" cx="476.54" cy="509.55" r="4.48"/>
                                <circle data-map-name="aesop" class="map__circle retail cls-65" cx="486.73" cy="527.96" r="4.42"/>
                                <circle data-map-name="chanel" class="map__circle retail cls-65" cx="545.88" cy="444.51" r="4.48"/></g>

                            <g id="F_D_dots" data-name="F&amp;D dots">

                                <circle data-map-name="henrietta" class="map__circle food cls-57" cx="475.69" cy="459.8" r="4.48"/>
                                <circle data-map-name="rulesrestaurantprivate" class="map__circle food cls-57" cx="497.88" cy="471.12" r="4.48"/>
                                <circle data-map-name="diningrooms" class="map__circle food cls-57" cx="502.21" cy="443.6" r="4.48"/>
                                <circle data-map-name="sticksandsushi" class="map__circle food cls-57" cx="484.81" cy="478.6" rx="4.75" ry="4.61"/>
                                <circle data-map-name="thedelaunay" class="map__circle food cls-57" cx="603.67" cy="368.19" r="4.48"/>
                                <circle data-map-name="smithwllensky" class="map__circle food cls-57" cx="535.14" cy="534.56" r="4.48"/>
                                <circle data-map-name="closmaggiore" class="map__circle food cls-57" cx="486.39" cy="450.86" rx="4.45" ry="4.49"/>
                                <circle data-map-name="balthazar" class="map__circle food cls-57" cx="492.06" cy="434.54" r="4.48"/>
                                <circle data-map-name="frenchie" class="map__circle food cls-57" cx="466.74" cy="472.17" r="4.48"/>
                                <circle data-map-name="jsheeky" class="map__circle food cls-57" cx="353.05" cy="525.21" rx="4.48" ry="4.45"/>
                                <circle data-map-name="barrafina2" class="map__circle food cls-57" cx="479.34" cy="326.99" r="4.48"/>
                                <circle data-map-name="petershamrestaurant" class="map__circle food cls-57" cx="446.32" cy="451.42" r="4.48"/>
                                <circle data-map-name="skylon" class="map__circle food cls-57" cx="468.53" cy="506.03" r="4.48"/>
                                 <circle data-map-name="honestbrger" class="map__circle food cls-57" cx="522.14" cy="493.32" r="4.48"/>
                                <circle data-map-name="fumo" class="map__circle food cls-57" cx="444.51" cy="527.95" rx="4.48" ry="4.42"/>
                                <circle data-map-name="leon" class="map__circle food cls-57" cx="502.36" cy="525.63" r="4.48"/>
                                <circle data-map-name="pretamanger" class="map__circle food cls-57" cx="501.58" cy="385.6" r="4.48"/>
                                <circle data-map-name="coventgardengrind" class="map__circle food cls-57" cx="500.55" cy="486.06" r="4.48"/>
                                <circle data-map-name="barrafina1" class="map__circle food cls-57" cx="249.36" cy="422.77" r="4.48"/>
                                <circle data-map-name="americanbar" class="map__circle food cls-57" cx="582.87" cy="483.32" r="4.48"/>
                                <circle data-map-name="coffeeisland" class="map__circle food cls-57" cx="349.89" cy="438" r="4.48"/>
                                <circle data-map-name="caffenero" class="map__circle food cls-57" cx="508.68" cy="479.56" r="4.48"/>
                                <circle data-map-name="theivy" class="map__circle food cls-57" cx="289.15" cy="417.17" r="4.48"/>
                                <circle data-map-name="condesa" class="map__circle food cls-57" cx="487.58" cy="499.99" r="4.48"/>
                                <circle data-map-name="milktrain" class="map__circle food cls-57" cx="521.09" cy="467.22" r="4.48"/>
                                <circle data-map-name="corapearl" class="map__circle food cls-57" cx="767.56" cy="628.59" r="4.48"/>
                                <circle data-map-name="pingpong" class="map__circle food cls-57" cx="462.54" cy="494.51" r="4.48"/>
                                <circle data-map-name="blamegloria" class="map__circle food cls-57" cx="436.11" cy="498.63" r="4.48"/>
                                <circle data-map-name="mrfoggstavern" class="map__circle food cls-57" cx="391.27" cy="480.68" r="4.48"/>
                                <circle data-map-name="radiorooftopbar" class="map__circle food cls-57" cx="603.67" cy="400.8" r="4.48"/>
                                <circle data-map-name="gordonswinebar" class="map__circle food cls-57" cx="513.76" cy="622.99" r="4.48"/>
                                <circle data-map-name="spiritland" class="map__circle food cls-57" cx="445.5" cy="490.54" r="4.48"/>
                                <circle data-map-name="topolski" class="map__circle food cls-57" cx="730.31" cy="679.78" r="4.48"/>
                                <circle data-map-name="thegreenroom" class="map__circle food cls-57" cx="700.33" cy="677.26" r="4.48"/></g>

                        <g id="Local_Occupiers" data-name="Local Occupiers">

                            <circle data-map-name="coutts" class="map__circle occupiers cls-63" cx="490.03" cy="538.37" r="4.48"/>
                            <circle data-map-name="pwc" class="map__circle occupiers cls-63" cx="509.75" cy="634.89" r="4.48"/>
                            <circle data-map-name="baincompany" class="map__circle occupiers cls-63" cx="513.16" cy="547.53" r="4.48"/>
                            <circle data-map-name="condenast" class="map__circle occupiers cls-63" cx="544.6" cy="542.98" r="4.48"/>
                            <circle data-map-name="spotify" class="map__circle occupiers cls-63" cx="531.47" cy="583.03" r="4.48"/>
                            <circle data-map-name="theeconomist" class="map__circle occupiers cls-63" cx="559.7" cy="547.6" r="4.48"/>
                            <circle data-map-name="finsbury" class="map__circle occupiers cls-63" cx="547.03" cy="569.32" r="4.48"/>
                            <circle data-map-name="shiseido" class="map__circle occupiers cls-63" cx="534.65" cy="558.43" r="4.48"/>
                            <circle data-map-name="petroineostrading" class="map__circle occupiers cls-63" cx="550.66" cy="554.91" r="4.48"/>
                            <circle data-map-name="pearson" class="map__circle occupiers cls-63" cx="522.4" cy="538.8" r="4.48"/>
                            <circle data-map-name="nationalgrid" class="map__circle occupiers cls-63" cx="445.5" cy="625.48" r="4.48"/>
                            <circle data-map-name="cqs" class="map__circle occupiers cls-63" cx="462.94" cy="658.74" r="4.48"/>
                            <circle data-map-name="wella" class="map__circle occupiers cls-63" cx="446.14" cy="634.89" r="4.48"/>
                            <circle data-map-name="darktrace" class="map__circle occupiers cls-63" cx="455.58" cy="639.37" r="4.48"/>
                            <circle data-map-name="braemarshipping" class="map__circle occupiers cls-63" cx="449.05" cy="647.54" r="4.48"/></g>
                            <circle data-map-name="sohohouse" class="map__circle occupiers cls-63" cx="699.05" cy="366.54" r="4.48"/></g>

                    <g id="A_C_dots" data-name="A&amp;C dots">

                        <circle data-map-name="courtauldgallery" class="map__circle arts cls-84" cx="617.7" cy="449.28" r="4.48"/>
                         <circle data-map-name="nationalportrait" class="map__circle arts cls-84" cx="363.54" cy="548.51" r="4.48"/>
                        <circle data-map-name="southbankcentre" class="map__circle arts cls-84" cx="730.65" cy="637.25" r="4.48"/>
                        <circle data-map-name="haywardgallery" class="map__circle arts cls-84" cx="739.6" cy="654.21" r="4.48"/>
                        <circle data-map-name="ica" class="map__circle arts cls-84" cx="408.69" cy="539.12" r="4.48"/>
                        <circle data-map-name="adelphitheatre" class="map__circle arts cls-84" cx="513.25" cy="518.42" r="4.48"/>
                        <circle data-map-name="savoytheatre" class="map__circle arts cls-84" cx="543.09" cy="521.1" r="4.48"/>
                        <circle data-map-name="vaudevilletheatre" class="map__circle arts cls-84" cx="522.4" cy="509.19" r="4.48"/>
                        <circle data-map-name="playhousetheatre" class="map__circle arts cls-84" cx="514.56" cy="669.81" r="4.48"/>
                        <circle data-map-name="eno" class="map__circle arts cls-84" cx="311.49" cy="662.38" r="4.48"/>
                        <circle data-map-name="novellotheatre" class="map__circle arts cls-84" cx="603.67" cy="386.67" r="4.48"/>
                        <circle data-map-name="duchesstheatre" class="map__circle arts cls-84" cx="585.58" cy="401.75" r="4.48"/>
                        <circle data-map-name="lyceumtheatre" class="map__circle arts cls-84" cx="560.83" cy="449.28" r="4.48"/>
                        <circle data-map-name="wyndhamstheatre" class="map__circle arts cls-84" cx="348.09" cy="512" r="4.48"/>
                        <circle data-map-name="garricktheatre" class="map__circle arts cls-84" cx="365.4" cy="531.33" r="4.48"/>
                        <circle data-map-name="donmarwarehouse" class="map__circle arts cls-84" cx="394.23" cy="361.43" r="4.48"/>
                        <circle data-map-name="trafalgarstudio" class="map__circle arts cls-84" cx="427.02" cy="659.5" r="4.48"/>
                        <circle data-map-name="royalfestivalhall" class="map__circle arts cls-84" cx="721.85" cy="670.26" r="4.48"/>
                        <circle data-map-name="newvic" class="map__circle arts cls-84" cx="859.27" cy="730.08" r="4.48"/>
                        <circle data-map-name="oldvic" class="map__circle arts cls-84" cx="877.63" cy="702.76" r="4.48"/>
                        <circle data-map-name="vaultstheatre" class="map__circle arts cls-84" cx="786.89" cy="785.25" r="4.48"/>

                    </g>

               
                        </svg>



                    </div>
                    <div class="map-right">

                        <div class="arrow-container">

                            <img src="./img/img-arrow.svg" class="hide-on-mobile" />
                                         <lottie-player src="./lottie/arrow-white.json" speed="1" autoplay class="arrow-13 hide-on-mobile">
                            </lottie-player>
                        </div>

                        <div id="map-accordion">

                            <h3 class="accordion-heading occupiers">Local occupiers</h3>
                            <div>
                                <ul>
                                    <li data-map-name="nationalgrid">National Grid</li>
                                    <li data-map-name="wella">Wella</li>
                                    <li data-map-name="braemarshipping">Braemar Shipping</li>
                                    <li data-map-name="darktrace">Dark Trace</li>
                                    <li data-map-name="cqs">CQS</li>
                                    <li data-map-name="coutts">Coutts</li>
                                    <li data-map-name="pwc">PWC</li>
                                    <li data-map-name="baincompany">Bain & Company</li>
                                    <li data-map-name="pearson">Pearson</li>
                                    <li data-map-name="spotify">Spotify</li>
                                    <li data-map-name="shiseido">Shiseido</li>
                                    <li data-map-name="condenast">Conde Nast</li>
                                    <li data-map-name="finsbury">Finsbury</li>
                                    <li data-map-name="petroineostrading">Petroineos Trading</li>
                                    <li data-map-name="theeconomist">The Economist</li>
                                     <li data-map-name="sohohouse">Soho House</li>
                                </ul>
                            </div>

                            <h3 class="accordion-heading arts">Arts & Culture</h3>
                            <div>
                                <ul>
                                    <li data-map-name="eno">ENO</li>
                                    <li data-map-name="wyndhamstheatre">Wyndham’s Theatre</li>
                                    <li data-map-name="nationalportrait">National Portrait</li>
                                    <li data-map-name="garricktheatre">Garrick Theatre</li>
                                    <li data-map-name="donmarwarehouse">Donmar Warehouse</li>
                                    <li data-map-name="ica">The ICA</li>
                                    <li data-map-name="trafalgarstudio">Trafalgar Studio</li>
                                    <li data-map-name="adelphitheatre">Adelphi Theatre</li>
                                    <li data-map-name="playhousetheatre">Playhouse Theatre</li>
                                    <li data-map-name="vaudevilletheatre">Vaudeville Theatre</li>
                                    <li data-map-name="savoytheatre">Savoy Theatre</li>
                                    <li data-map-name="lyceumtheatre">The Lyceum Theatre</li>
                                    <li data-map-name="duchesstheatre">Duchess Theatre</li>
                                    <li data-map-name="novellotheatre">Novello Theatre</li>
                                    <li data-map-name="courtauldgallery">Courtauld Gallery</li>
                                    <li data-map-name="royalfestivalhall">Royal Festival Hall</li>
                                    <li data-map-name="southbankcentre">Southbank Centre</li>
                                    <li data-map-name="haywardgallery">Hayward Gallery</li>
                                    <li data-map-name="vaultstheatre">The Vaults Theatre</li>
                                    <li data-map-name="oldvic">The Old Vic</li>
                                    <li data-map-name="newvic">The New Vic</li>
                                </ul>
                            </div>

                            <h3 class="accordion-heading food">Food & Drink</h3>
                            <div>
                                <ul>
                                    <li data-map-name="barrafina1">Barrafina</li>
                                    <li data-map-name="theivy">The Ivy</li>
                                    <li data-map-name="coffeeisland">Coffee Island</li>
                                    <li data-map-name="jsheeky">J Sheeky</li>
                                    <li data-map-name="mrfoggstavern">Mr Fogg’s Tavern</li>
                                    <li data-map-name="blamegloria">Blame Gloria</li>
                                    <li data-map-name="fumo">Fumo</li>
                                    <li data-map-name="spiritland">Spiritland</li>
                                    <li data-map-name="petershamrestaurant">The Petersham Restaurant</li>
                                    <li data-map-name="pingpong">Ping Pong</li>
                                    <li data-map-name="frenchie">Frenchie</li>
                                    <li data-map-name="corapearl">Cora Pearl</li>
                                    <li data-map-name="henrietta">Henrietta</li>
                                    <li data-map-name="barrafina2">Barrafina</li>
                                    <li data-map-name="closmaggiore">Clos Maggiore</li>
                                    <li data-map-name="sticksandsushi">Sticks and Sushi</li>
                                    <li data-map-name="condesa">Condesa</li>
                                    <li data-map-name="balthazar">Balthazar</li>
                                    <li data-map-name="rulesrestaurantprivate">Rules Restaurant & Private</li>
                                    <li data-map-name="coventgardengrind">Covent Garden Grind</li>
                                    <li data-map-name="leon">Leon</li>
                                    <li data-map-name="pretamanger">Pret A Manger</li>
                                    <li data-map-name="diningrooms">Dining Rooms</li>
                                    <li data-map-name="caffenero">Caffe Nero</li>
                                    <li data-map-name="milktrain">Milk Train</li>
                                    <li data-map-name="gordonswinebar">Gordon’s Wine Bar</li>
                                    <li data-map-name="honestbrger">Honest Burger</li>
                                    <li data-map-name="smithwllensky">Smith & Wollensky</li>
                                    <li data-map-name="americanbar">American Bar</li>
                                    <li data-map-name="radiorooftopbar">Radio Roof Top Bar</li>
                                    <li data-map-name="thedelaunay">The Delaunay</li>
                                    <li data-map-name="skylon">Skylon</li>
                                    <li data-map-name="topolski">Topolski</li>
                                    <li data-map-name="thegreenroom">The Green Room</li>
                                </ul>
                            </div>

                            <h3 class="accordion-heading retail">Retail</h3>
                            <div>
                                <ul>
                                    <li data-map-name="clubmonaco">Club Monaco</li>
                                    <li data-map-name="reiss">Reiss</li>
                                    <li data-map-name="jigsaw">Jigsaw</li>
                                    <li data-map-name="apple">Apple</li>
                                    <li data-map-name="sandro">Sandro</li>
                                    <li data-map-name="aesop">Aesop</li>
                                    <li data-map-name="paulsmith">Paul Smith</li>
                                    <li data-map-name="hackett">Hackett</li>
                                    <li data-map-name="coventgardenmarket">Covent Garden Market</li>
                                    <li data-map-name="dior">Dior</li>
                                    <li data-map-name="mulberryuk">Mulberry UK</li>
                                    <li data-map-name="chanel">Chanel</li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="back-to-top" onclick="topFunction();"></div>

    </main>
 

    <footer>
        <div class="footer-container">
            &copy 2021 80 Strand | <a href="/privacy.html">Privacy Policy</a>
        </div>
    </footer>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@1.0.1/dist/lottie-player.js"></script>
    <script src="js/main.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <script>
        var Scrollbar = window.Scrollbar;
        Scrollbar.init(document.querySelector('#my-scrollbar'), options);
    </script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID.
    <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script> -->

</body>
</html>
